body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #666666;
	background-image: none;
	color: #ffffff;
}

table{
    border-collapse: separate;
    text-indent: initial;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

div {
    display: inline-block;
}

#smiley {
    width: 24px;
    height: 24px;
    margin: 2px;
    border: 3px groove #eeeeee;
    padding: 6px;
    vertical-align: middle;
    cursor: pointer;
}
.sqCovered, .score {
    margin: 0px;
    border: 2px solid;
    border-color: #eeeeee #999999 #999999 #eeeeee;
    background-color: #cccccc;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
}

#sqTable {
    margin-top: 1em;
    margin-bottom: 1em;
    border-spacing: 0px;
    background-color: #666666;
    color: #000000;
}

div.counter {
    margin: 10px;
    border: 1px inset #eeeeee;
    padding-right: 3px;
    width: 1.75em;
    background-color: #000000;
    color: #ff6666;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-align: right;
}

#mines {
    float: left;
}

#timer {
    float: right;
}

.sqCovered {
    box-sizing: border-box;
    width: 24px;
    font-size: 0px;
    max-width: 24px;
    min-width: 24px;
    height: 24px;
    min-height: 24px;
    max-height: 24px;
    font-weight: bold;
    line-height: 18px;
    cursor: pointer;
}

.minetag {
    font-size: 15px;
}

.inconclusivetag {
    font-size: 15px;
}

.sqUncovered {
    background-color: #bbbbbb;
    border-width: 1px;
    border-color: #999999;
    padding: 1px;
    cursor: pointer;
    font-size: 16px;

}